body{
    font-family: Arial, sans-serif;
    background-color:hsl(0, 0%, 95%);
}

h1 {
    color: rgb(0, 110, 255);
}

form {
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.301);
}

#Temperature {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgba(0, 0, 0, 0.801);
    border-radius: 4px;
    margin-bottom: 15px;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

button {
    margin-top: 15px;
    background-color: rgba(255, 0, 0, 0.507);
    color: white;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 68, 68);
}

#result {
    font-size: 1.75em;
    font-weight: bold;
}